/* GLOBAL STYLES  */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:"open sans", "arial", sans-serif;
}


/* SITE HEADER  */
.site-header {
  background-color:white;
  padding: 24px 170px;
}

.container {
  width: 100%;
  min-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-flex {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.icon-flex img {
  margin-right: 16px;
  border-radius: 50%;
}

.logo-styles {
  transition: color 0.5s ease, opacity 0.4s ease;
}

.logo-styles:hover {
  color: #DE2E54;
}

.logo-styles:active {
  opacity: 0.6;
}

.logo-styles {
  width: 119px;
  height: 33px;
  font-family: "open sans";
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #222222;
}

.sitenav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitenav-link a {
  text-decoration: none;
  color: #222222;
  transition: color 0.5s ease, opacity 0.4s ease
}

.sitenav-link {
  font-family: "Open Sans";
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;

}

.sitenav-link:not(:last-child) {
  margin-right: 32px;
}

.sitenav-link a:hover {
  color: #DE2E54;
}

.sitenav-link a:active {
  opacity: 0.6;
}

.main-link {
  font-family: "open sans";
  border: 2px solid #DE2E54;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #DE2E54;
  color: #fff;
  transition: color, background-color 0.5s ease, opacity 0.4s ease ;
}

.main-link:hover {
  background-color:white;
  color: #DE2E54;
}

.main-link:active {
  opacity: 0.6;
  background-color: #DE2E54;
  color: #fff;
}

.main-link-section:hover {
  background-color: #DE2E54;
  opacity: 0.8;
  color: #fff;
}

.main-link-section:active {
  opacity: 0.6;
}



/* HERO SITE  */
.site-hiro {
  background-color:#0EB4C1;
}

.hero-container {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  width: 500px;
  height: 293px;
  color: #fff;
  margin: 120px 170px;

}

.hero-container img {
  padding-right: 170px;
  padding-top: 29px;
}

.hero-heading {
  font-family: "open sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 16px;
}

.hero-left-content {
  margin-bottom: 48px;
}

.hero-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 0;
}


/* MAIN SECTION  */
.main-container {
  padding-top: 120px;
}

.main-heading {
  text-align: center;
  margin-bottom: 56px;
  color: #000000;
}

.features-list {
  padding-bottom: 72px;
}

.feature-list {
  display: flex;
  width: 864px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.feature-list:not(:last-child) {
  margin-bottom: 80px;
}

.feature-list img {
  display: block;
  margin-right: 64px;
  border-radius: 24px;
}

.main-heading-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 24px;
}

.main-paragraph {
  margin: 0;
}

.main-link-button {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}

.container-button {
  padding-top: 52px;
  padding-bottom: 76px;
  text-align: center;
  background-color: #0EB4C1;
  color: #fff;
}

.link-bottom {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 52px;
}

.main-links-botton {
  background-color:#0EB4C1;
  border-color: #fff;
}

.main-links-botton:hover {
  background-color: #DE2E54;
  color: #fff;
  border-color: #DE2E54;
}

.main-links-botton:active {
  opacity: 0.6;
}

.main-links-botton:not(:last-child) {
  margin-right: 40px;
}




.site-footer {
  background-color: #222222;
  padding: 24px 170px;
}

.container-flex {
  width: 1160px;
}

.footer-style-color {
  color: #fff;
}

.footer-style a {
  color: #fff;
}

.footer-style:active {
  color: #E5E5E5;
}
